body {
  background-color: #232323;
}

#header {
  font-family: 'Montserrat';
  color: rgba(255,255,255, 1);
  font-size: 3vh;
}

.align-center {
   text-align:center;
}

.borders {
  fill: none;
  stroke: #232323;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.countries {
  fill: #363636;
}

.country-info {
  color: rgba(255,255,255, 0.9);
  font-family: 'Montserrat';
  font-size: 20px;
}

.country-circles{
  /* stroke: black; */
  stroke-width: 1px;
}

.out{
  fill: rgba(162,218,231,0.7);
}

.in{
  fill: rgba(253,125,96, 0.7);
}

.transit{
  fill: rgba(255,255,255, 0.3);
  r:1px;
}

#overlay {
  pointer-events: none !important;
}

#overlay rect{
  fill: rgb(220,220,220);
  opacity : 0.8;
  rx: 5;
  ry: 5;
}

#overlay #country{
  fill: white;
  font-size: 1em;
  font-family: 'Montserrat';
}
