<!DOCTYPE html>
<html>
  <head>
    <title>Startup Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='./lib/d3.parcoords.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='style.css') }} rel="stylesheet" media="screen">

  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Startup Visualizer</h1>
            </div>
        </div>

        <form role="form" id="sub_form">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Choose country:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select id="dropdown" name="dropdown" class="form-control custom-dropdown">
                                <option>USA</option>
                                <option>CHN</option>
                                <option>IDN</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                    <button type="submit" class="btn btn-large custom-button">Submit</button>
                    </div>
                </div>
        </form>

        <br>
        <br>

        {#Start map#}
        <div class="row">
            <div class="col=sm-12">
                <div id="map">

                </div>
            </div>
        </div>
        {#End map#}

        <br>
        <br>

        {#Start word cloud#}
        <div class="row">
            <div class="col-sm-12">
                <div id="word-cloud">
                </div>
            </div>
        </div>
        {#End word cloud#}

        <br>
        <br>

        {#Start parcoords#}
        <div class="row">
            <div class="col-sm-12">
                <div id="example" class="parcoords" style="width:800px; height: 300px;">
                </div>
            </div>
        </div>
        {#End parcoords#}

    </div>

    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='./lib/d3.parcoords.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3-cloud/build/d3.layout.cloud.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3-queue/d3-queue.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/topojson/topojson.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
  </body>
</html>